@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  a, button {
    @apply text-black;
    @apply animate-chroma;
  }

  img:not(.skip-chroma) {
    filter: drop-shadow(-2.3px 0 1px rgba(255,0,80,0.2)) drop-shadow(2px 0 1px rgba(80,0,255,0.4));
  }

  img.transform-green {
    filter: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(1632%) hue-rotate(19deg) brightness(92%) contrast(109%);
  }

  a:hover, button:hover,
  a:focus, button:focus,
  a:active, button:active {
    @apply animate-chroma-lg;
    @apply text-green;
    @apply checkerboard;
  }

  .text-balance {
    text-wrap: balance;
  } 

  .checkerboard {
    background-image:
      linear-gradient(45deg, #1b1233 25%, transparent 25%), 
      linear-gradient(135deg, #1b1233 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #1b1233 75%),
      linear-gradient(135deg, transparent 75%, #1b1233 75%);
    background-size: 2px 2px; /* Must be a square */
    background-position:0 0, 1px 0, 1px -1px, 0px 1px; /* Must be half of one side of the square */
  }

  .checkerboard-lg {
    background-image:
      linear-gradient(45deg, #1b1233 25%, transparent 25%), 
      linear-gradient(135deg, #1b1233 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #1b1233 75%),
      linear-gradient(135deg, transparent 75%, #1b1233 75%);
    background-size: 4px 4px; /* Must be a square */
    background-position:0 0, 2px 0, 2px -2px, 0px 2px; /* Must be half of one side of the square */
  }

  .checkerboard-light {
    background-image:
      linear-gradient(45deg, #dcf29d 25%, transparent 25%), 
      linear-gradient(135deg, #dcf29d 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #dcf29d 75%),
      linear-gradient(135deg, transparent 75%, #dcf29d 75%);
    background-size: 2px 2px; /* Must be a square */
    background-position:0 0, 1px 0, 1px -1px, 0px 1px; /* Must be half of one side of the square */
  }

  .scanlines::before {
    pointer-events: none;
    content: " ";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(46, 42, 49, 0) 50%, rgba(0, 0, 0, 0.3) 90%), linear-gradient(90deg, rgba(255, 0, 0, 0.025), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.04));
    background-size: 100% 3px, 6px 100%;
    z-index: 5;
  }

  .scanlines::after {
    animation: flicker 10s infinite;
    pointer-events: none;
    content: " ";
    position: absolute;
    inset: 0;
    background: rgba(15, 18, 18, 0.15);
    z-index: 5;
    opacity: 0;
  }
}
