@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #dcf29d;
  --secondary-color: #1b1233;
}

@layer utilities {

  .vignette {
    position: fixed;
    -moz-box-shadow: inset 0 0 6em var(--secondary-color);  
    -webkit-box-shadow: inset 0 0 6em var(--secondary-color);   
    box-shadow: inset 0 0 6em var(--secondary-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

  ::selection {
    @apply bg-green;
    @apply text-black;
  }

  a, button {
    @apply text-black;
    @apply animate-chroma;
    @apply bg-green;
  }

  [target='_blank'] {
    @apply underline;
  }

  [target='_blank']::before {
    content: '[';
  }

  [target='_blank']::after {
    content: ']';
  }

  .sepia-green {
    filter: sepia(1.0) hue-rotate(27deg);
  }

  a:hover img:not(.skip-chroma),
  button:hover img:not(.skip-chroma) {
    filter: drop-shadow(-2.3px 0 1px rgba(255,0,80,0.25)) drop-shadow(2px 0 1px rgba(80,0,255,0.45));
  }

  /* https://codepen.io/sosuke/pen/Pjoqqp */
  img.transform-black {
    filter: brightness(0) invert(9%) sepia(26%) saturate(2113%) hue-rotate(222deg) brightness(95%) contrast(102%);
  }

  img.transform-green {
    filter: brightness(0) saturate(100%) invert(96%) sepia(7%) saturate(1632%) hue-rotate(19deg) brightness(92%) contrast(109%);
  }

  img {
    user-select: none;
    image-rendering: pixelated;
  }

  a:hover, button:hover,
  a:focus, button:focus,
  a:active, button:active {
    @apply animate-chroma-lg;
    @apply checkerboard;
    @apply outline-none;
  }

  a:focus, button:focus {
    @apply text-green;
    @apply ring-2;
    @apply ring-green;
    @apply ring-offset-2;
    @apply ring-offset-black;
  }

  .text-balance {
    text-wrap: balance;
  }

  .checkerboard {
    background-image:
      linear-gradient(45deg, var(--secondary-color) 25%, transparent 25%), 
      linear-gradient(135deg, var(--secondary-color) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--secondary-color) 75%),
      linear-gradient(135deg, transparent 75%, var(--secondary-color) 75%);
    background-size: 2px 2px; /* Must be a square */
    background-position:0 0, 1px 0, 1px -1px, 0px 1px; /* Must be half of one side of the square */
  }

  .checkerboard-lg {
    background-image:
      linear-gradient(45deg, var(--secondary-color) 25%, transparent 25%), 
      linear-gradient(135deg, var(--secondary-color) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--secondary-color) 75%),
      linear-gradient(135deg, transparent 75%, var(--secondary-color) 75%);
    background-size: 4px 4px; /* Must be a square */
    background-position:0 0, 2px 0, 2px -2px, 0px 2px; /* Must be half of one side of the square */
  }

  .checkerboard-light {
    background-image:
      linear-gradient(45deg, var(--primary-color) 25%, transparent 25%), 
      linear-gradient(135deg, var(--primary-color) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--primary-color) 75%),
      linear-gradient(135deg, transparent 75%, var(--primary-color) 75%);
    background-size: 2px 2px; /* Must be a square */
    background-position:0 0, 1px 0, 1px -1px, 0px 1px; /* Must be half of one side of the square */
  }

  .scanlines::before {
    pointer-events: none;
    content: " ";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(46, 42, 49, 0) 50%, rgba(0, 0, 0, 0.3) 90%), linear-gradient(90deg, rgba(255, 0, 0, 0.025), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.04));
    background-size: 100% 3px, 6px 100%;
    z-index: 5;
  }

  .scanlines::after {
    pointer-events: none;
    content: " ";
    position: absolute;
    inset: 0;
    background: rgba(15, 18, 18, 0.15);
    z-index: 5;
    opacity: 0;
  }
}
